In [1]:
from pymongo import MongoClient
#Objeto MongoClient
client = MongoClient('localhost', 27017)
#Crear DB
db = client['Tweets']
#Datos para la colección
Jul = pd.read_csv("Tweets_JulT.csv", sep = ",")
#Dar formato fecha al campo Date
Jul['Date'] = pd.to_datetime(Jul['Date'])
#Crear Colleción
collection = db['Jul']
collection.insert_many(Jul.to_dict('records'))

In [1]:
import pymongo

In [2]:
import pandas as pd
import datetime

In [4]:
Jul = pd.read_csv("Tweets_JulT.csv", sep = ",")
Jul['Date'] = pd.to_datetime(Jul['Date'])
collection = db['Jul']
collection.insert_many(Jul.to_dict('records'))

In [6]:
Ago = pd.read_csv("Tweets_AgoT.csv", sep = ",")
Ago['Date'] = pd.to_datetime(Ago['Date'])
collection = db['Ago']
collection.insert_many(Ago.to_dict('records'))

In [7]:
Sep = pd.read_csv("Tweets_SepT.csv", sep = ",")
Sep['Date'] = pd.to_datetime(Sep['Date'])
collection = db['Sep']
collection.insert_many(Sep.to_dict('records'))

In [9]:
Oct = pd.read_csv("Tweets_OctT.csv", sep = ",")
Oct['Date'] = pd.to_datetime(Oct['Date'])
collection = db['Oct']
collection.insert_many(Oct.to_dict('records'))

In [10]:
Nov = pd.read_csv("Tweets_NovT.csv", sep = ",")
Nov['Date'] = pd.to_datetime(Nov['Date'])
collection = db['Nov']
collection.insert_many(Nov.to_dict('records'))

In [11]:
Dic = pd.read_csv("Tweets_DicT.csv", sep = ",")
Dic['Date'] = pd.to_datetime(Dic['Date'])
collection = db['Dic']
collection.insert_many(Dic.to_dict('records'))

In [3]:
Div = pd.read_csv("EUR-USD Jul-Dic2019.csv", sep = ",")
Div['Date'] = pd.to_datetime(Div['Date'])
Div.head()

   Unnamed: 0       Date   Price    Open    High     Low Change %
0          86 2019-12-31  1.1212  1.1198  1.1241  1.1198    0.12%
1          87 2019-12-30  1.1199  1.1175  1.1224  1.1171    0.20%
2          88 2019-12-27  1.1177  1.1097  1.1188  1.1096    0.71%
3          89 2019-12-26  1.1098  1.1092  1.1111  1.1082    0.06%
4          90 2019-12-25  1.1091  1.1088  1.1106  1.1072    0.03%

In [53]:
db = client['Divisas']
collection = db['Divisas']
collection.insert_many(Div.to_dict('records'))

In [54]:
Jul.shape[0]

12138

In [58]:
Jul

,Unnamed: 0,User,Text,Date,Favorites,Retweets,HashTags
0,12137,CNNEE,Este gato se quedó atascado en la lavadora dur...,2019-07-01 00:00:14+00:00,29,128,NaN
1,12136,CNNEE,¿Crees que el gobierno de #Amlo ha reaccionado...,2019-07-01 00:05:06+00:00,3,19,#Amlo #Trump
2,12135,CNNEE,"Durante su mandato, el empresario y político p...",2019-07-01 00:05:07+00:00,22,51,NaN
3,12134,CNNEE,¿Cómo usaría #Trump a #México para ganar la el...,2019-07-01 00:10:05+00:00,4,17,#Trump #M
4,12133,CNNEE,Trump es el primer presidente de Estados Unido...,2019-07-01 00:10:05+00:00,40,112,NaN
...,...,...,...,...,...,...,...
12133,4,CNNEE,Bebé cae de un sexto piso y una multitud lo at...,2019-07-31 23:47:06+00:00,44,175,NaN
12134,3,bbcmundo,La idea es experimentar en ratas y ratones par...,2019-07-31 23:49:04+00:00,77,67,NaN
12135,2,CNNEE,"El problema, cuya solución todavía no es clara...",2019-07-31 23:50:04+00:00,9,18,NaN
12136,1,CNNEE,Una fuente dijo que Estados Unidos tuvo un pap...,2019-07-31 23:53:03+00:00,41,106,NaN
12137,0,CNNEE,"Desde arriba, las islas artificiales de Palm J...",2019-07-31 23:55:09+00:00,23,50,NaN

In [63]:
Jul.index = Jul['Date']
JulSem = Jul['Text'].resample("W")

In [64]:
JulSem

In [68]:
for i in JulSem:
    print(i)

(Timestamp('2019-07-07 00:00:00+0000', tz='UTC', freq='W-SUN'), Date
2019-07-01 00:00:14+00:00    Este gato se quedó atascado en la lavadora dur...
2019-07-01 00:05:06+00:00    ¿Crees que el gobierno de #Amlo ha reaccionado...
2019-07-01 00:05:07+00:00    Durante su mandato, el empresario y político p...
2019-07-01 00:10:05+00:00    ¿Cómo usaría #Trump a #México para ganar la el...
2019-07-01 00:10:05+00:00    Trump es el primer presidente de Estados Unido...
                                                   ...
2019-07-07 23:35:05+00:00    “Así como no hay que consumir comida podrida, ...
2019-07-07 23:40:07+00:00    Los memes de la final Brasil-Perú también recu...
2019-07-07 23:40:32+00:00    "Whitexicans": ¿qué hay realmente detrás de la...
2019-07-07 23:45:07+00:00    La reacción del primer ministro israelí fue in...
2019-07-07 23:50:05+00:00    El Tratado Interamericano de Asistencia Recípr...
Name: Text, Length: 2908, dtype: object)
(Timestamp('2019-07-14 00:00:00+0000', tz='UTC', freq='W-SUN'), Date
2019-07-08 00:00:48+00:00    Sara-Jayne se enteró a los 14 años de de que s...
2019-07-08 00:10:04+00:00    Esta nueva protesta tenía como objetivo explic...
2019-07-08 00:20:02+00:00    Jõao Gilberto ya no está en este mundo pero su...
2019-07-08 00:21:05+00:00    "Dos años atrás verías a un montón de gente co...
2019-07-08 00:24:04+00:00    Chacón participaba en una protesta por la falt...
                                                   ...
2019-07-14 23:27:03+00:00    Según @mauriciomacri, @CFKArgentina ve la polí...
2019-07-14 23:30:10+00:00    Fui violada y quedé destrozada, así que tomé m...
2019-07-14 23:42:06+00:00    Manifestantes piden la renuncia del gobernador...
2019-07-14 23:42:50+00:00    Esta es la señal que predijo las últimas 7 rec...
2019-07-14 23:45:39+00:00    Comenzaron las redadas. Esto es lo que debes s...
Name: Text, Length: 2609, dtype: object)
(Timestamp('2019-07-21 00:00:00+0000', tz='UTC', freq='W-SUN'), Date
2019-07-15 00:00:09+00:00    El canciller Marcelo Ebrard sostuvo una llamad...
2019-07-15 00:04:31+00:00    Estos hombres son cazadores de clientes furiosos.
2019-07-15 00:06:24+00:00    En muchos de nuestros videos de lenguaje se ge...
2019-07-15 00:07:04+00:00    Cada vez son más las voces que se unen para pe...
2019-07-15 00:11:05+00:00    Entrevistó a Ted Bundy, Charles Manson y John ...
                                                   ...
2019-07-21 23:25:07+00:00    El príncipe Jorge cumple seis años y el Palaci...
2019-07-21 23:38:05+00:00    ¿Por qué hay fanáticos de los ovnis planeando ...
2019-07-21 23:43:06+00:00    En el video, la manifestación de miembros de l...
2019-07-21 23:45:05+00:00    ¿Cómo se drogan los perros? ¿Cómo tratar a un ...
2019-07-21 23:58:46+00:00    Es demasiado extraño escuchar 'Allahu Akbar' e...
Name: Text, Length: 2795, dtype: object)
(Timestamp('2019-07-28 00:00:00+0000', tz='UTC', freq='W-SUN'), Date
2019-07-22 00:00:12+00:00    La heredera de Disney visitó Disneyland en sec...
2019-07-22 00:04:30+00:00    Opinión. Las mujeres en Puerto Rico saben muy ...
2019-07-22 00:11:05+00:00    La frustración de Darwin con el "extraordinari...
2019-07-22 00:13:06+00:00    Los mensajes del controvertido chat en el que ...
2019-07-22 00:15:03+00:00    De la crisis de la deuda al huracán María a un...
                                                   ...
2019-07-28 23:46:03+00:00    Un enigma que amenazaba las bases del evolucio...
2019-07-28 23:51:02+00:00    Muchos de los barcos que navegan por el mundo ...
2019-07-28 23:57:03+00:00    Gustavo Cerati estaba en coma, Charly Alberti ...
2019-07-28 23:59:05+00:00    Hay una razón práctica detrás del zumbido de l...
2019-07-28 23:59:05+00:00    Hay una razón práctica detrás del zumbido de l...
Name: Text, Length: 2684, dtype: object)
(Timestamp('2019-08-04 00:00:00+0000', tz='UTC', freq='W-SUN'), Date
2019-07-29 00:00:11+00:00       Latinoamérica hace parte de 'La Casa de Papel'
2019-07-29 00:02:03+00:00    "Era como estar en una prisión": los peligros ...
2019-07-29 00:05:02+00:00    Un estadounidense y su esposa fueron asesinado...
2019-07-29 00:13:03+00:00    Así es Boris Johnson, el nuevo primer ministro...
2019-07-29 00:14:03+00:00    Casi todos los humanos pueden usar esta técnic...
                                                   ...
2019-07-31 23:47:06+00:00    Bebé cae de un sexto piso y una multitud lo at...
2019-07-31 23:49:04+00:00    La idea es experimentar en ratas y ratones par...
2019-07-31 23:50:04+00:00    El problema, cuya solución todavía no es clara...
2019-07-31 23:53:03+00:00    Una fuente dijo que Estados Unidos tuvo un pap...
2019-07-31 23:55:09+00:00    Desde arriba, las islas artificiales de Palm J...
Name: Text, Length: 1142, dtype: object)

KeyError: 'W'