In [8]:
#importar librerias
import GetOldTweets3 as got
import pandas as pd

#funcion para recupear tweets
def get_tweets(username, top_only, start_date, end_date, max_tweets):
   
    #Criterios de busqueda de los tweets
    tweetCriteria = got.manager.TweetCriteria().setUsername(username)\
                          .setSince(start_date)\
                          .setUntil(end_date)\
                          .setMaxTweets(max_tweets)
    
    #Recuperar los tweets en base a los criterios
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)

    text_tweets = [[tw.username,
                tw.text,
                tw.date,
                tw.retweets,
                tw.favorites,
                tw.hashtags] for tw in tweet]
    
    # Crear dataframe con los atributos de las columnas correspondientes a los tweets
    news_df = pd.DataFrame(text_tweets, 
                            columns = ['User', 'Text', 'Date', 'Favorites', 'Retweets', 'HashTags'])
    # Retorna el dataframe
    return news_df


#Definicion de las fuentes
news_sources = ['bbcmundo','CNNEE']
#Ejecutar la función con los criterios
news_df = get_tweets(news_sources, 
                     top_only = False,
                     start_date = "2019-12-01", 
                     end_date = "2020-01-01",
                    max_tweets = 20000).sort_values('Date',ascending=True)

#Vizualizar el dataframe
news_df.head()

#Guardar el dataframe en formato csv
news_df.to_csv("Tweets_DicT.csv")

In [30]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)

db = client['tweets2']
collection = db['julio2']

In [31]:
collection.insert_many(news_df.to_dict('records'))

In [32]:
resultados2 = collection.find()

In [33]:
resultados2

NameError: name 'Jul' is not defined

In [10]:
news_df.head()

,User,Text,Date,Favorites,Retweets,HashTags
8748,CNNEE,Una escalofriante llamada al 911 pudo haber ca...,2019-12-01 00:00:03+00:00,23,52,
8747,bbcmundo,Azúcar extraterrestre. Por qué el hallazgo en ...,2019-12-01 00:00:07+00:00,46,56,
8746,CNNEE,Esta semana saltaron las alarmas en la Casa Bl...,2019-12-01 00:05:02+00:00,19,36,
8745,bbcmundo,Los estudios exhaustivos de ADN no han logrado...,2019-12-01 00:07:03+00:00,30,97,
8744,bbcmundo,"""Existía un movimiento que estaba en contra de...",2019-12-01 00:08:06+00:00,16,23,

In [16]:
news_df['Date'] = pd.to_datetime(news_df['Date'])

In [18]:
news_df.head()

,User,Text,Date,Favorites,Retweets,HashTags
8748,CNNEE,Una escalofriante llamada al 911 pudo haber ca...,2019-12-01 00:00:03+00:00,23,52,
8747,bbcmundo,Azúcar extraterrestre. Por qué el hallazgo en ...,2019-12-01 00:00:07+00:00,46,56,
8746,CNNEE,Esta semana saltaron las alarmas en la Casa Bl...,2019-12-01 00:05:02+00:00,19,36,
8745,bbcmundo,Los estudios exhaustivos de ADN no han logrado...,2019-12-01 00:07:03+00:00,30,97,
8744,bbcmundo,"""Existía un movimiento que estaba en contra de...",2019-12-01 00:08:06+00:00,16,23,

In [20]:
news_df.dtypes

User                      object
Text                      object
Date         datetime64[ns, UTC]
Favorites                  int64
Retweets                   int64
HashTags                  object
dtype: object